@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #f1f5f9;
}

.loader {
  width: 44px;
  aspect-ratio: 2;
  --dot: no-repeat radial-gradient(circle closest-side, #0D6EFD 85%, transparent);
  background:
      var(--dot) 0% 50%,
      var(--dot) 50% 50%,
      var(--dot) 100% 50%;
  background-size: calc(100%/3) 44%;
  animation: loader-animation 1s infinite linear;
}

@keyframes loader-animation {
  20% {
      background-position: 0% 0%, 50% 50%, 100% 50%
  }

  40% {
      background-position: 0% 100%, 50% 0%, 100% 50%
  }

  60% {
      background-position: 0% 50%, 50% 100%, 100% 0%
  }

  80% {
      background-position: 0% 50%, 50% 50%, 100% 100%
  }
}
